
.AppContainer {

   width: 100%;
}

.TopMenu {

    display: inline-flex;
    width: 100%;
    height: 3vh;

}


.NavButtons {

    display: inline-flex;
}

.UserNameDisplay {

    display: inline-flex;

}

.UserName {

    display: inline-flex;
}

.homeViewButtons {
    display: flex;


}