
.AppContainer {

   width: 100%;
}

.TopMenu {

    display: inline-flex;
    width: 100%;
    height: 3vh;
    background-color: #eae6e5;
    margin-bottom: 20px;

}



.mainContentContainer {
    margin-left: auto;
    margin-right: auto;
    width: 50%;


}

.NavButtons {

    display: inline-flex;
}

.UserNameDisplay {

    display: inline-flex;

}

.UserName {

    display: inline-flex;
    margin-left: 40px;
}

.homeViewButtons {
    display: flex;
    margin-top: 5px;


}
.questionsOuterContainer{

    border-width: 2px;
    border-style: solid;
    border-color: #cecac9;

}


.homeQuestionsTitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;

    margin-right: auto;
    margin-left: auto;
}

.homeViewButton {
    text-align: center;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eae6e5;
    border-color: dimgrey;
    border-style: solid;
    border-bottom-width: 1px;

}

.homeViewContentContainer {

    padding-left: 10px;
    padding-right: 10px;


}

.questionSelection {
    margin-bottom: 20px;


}

.questionContent {

    display: flex;

}

.userNameTop {
    margin-bottom: 10px;

}

.questionSelectionLeft {
    display: inline-flex;
    margin-right: 20px;

}

.questionSelectionLeftContent {

    margin-left: 20px;
}

.questionSelectionRight {
    margin-left: auto;
    margin-right: 10%;

}


.innerMenuContainer {
    display: flex;
    width: 50%;
    margin-right: auto;
    margin-left: auto;

}

.askedByHeader {
    margin-bottom: 10px;

}

.answeredQuestionContainerContent {
    display: flex;


}
.questionContainerLeft {
    width: 10%;
    margin-right: 10px;

}


.wouldYouRather {
    margin-bottom: 10px;
}


.answeredOption {
    margin-bottom: 10px;


}

.questionContainerRight {
    width: 90%

}


.answeredQuestionContainer {

    padding: 10px;

    border-color: dimgrey;
    border-style: solid;
    border-bottom-width: 1px;


}


.NavButton {
    margin-left: 10px;
    margin-right: 10px;
}

.newQuestionContainerHeaderTop {

    text-align: center;
    margin-bottom: 30px;

}

.newQuestionContainerHeaderBottom {

    text-align: center;
    margin-bottom: 30px;

}

.newQuestionSubmitForm {

    display: inline-grid;
    width: 80%

}

.newQuestionSubmitForm input {

    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    font-size: medium;
}

.userScoreContainer {
    margin-bottom: 20px;


}

.scoresOuterContainer {

    display: inline-flex;
    width: 100%
}

.scoresContainer {
    display: flex;
    width: 100%

}

.scoresContainerRight {
    margin-right: auto;
    margin-left: auto;
}

.leaderBoardTitle {
    text-align: center;
    font-size: larger;
    margin-bottom: 10px;
}

.leaderBoardQuestion {
    margin-bottom: 10px;


}

.userImageContainer {
    margin-right: 20px;

}

.userScoreName {
    margin-bottom: 10px;

}

.leaderBoardContainer {

    padding: 10px;

    border-color: dimgrey;
    border-style: solid;
    border-bottom-width: 1px;

}

.tallyBar {
    margin-top: 10px;
}

.loginContainer {
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #ede5e5;


}

.loginContainerTitleTop {

    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.loginContainerTitleBottom {
    text-align: center;
    font-size: x-large;
    margin-top: 50px;
    margin-bottom: 50px;

}

.loginContainerBodyTop {

    text-align: center;
    margin-bottom: 20px;
}


.loginContainerBodyBottom {

    display: flex;

}

.loginContainerFormContainer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.loginContainerForm select {
    width: 150px;
    margin-right: 10px;
}